body {
	font-size: 16px; /* font size increased for greater legibility */
}

.full-width-image-1 {
	background: url(../img/showcase001.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.full-width-image-2 {
	background: url(../img/kids-at-school.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	height: 450px;
}

.full-width-image-3 {
	background: url(../img/bypassTrust.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	height: 450px;
}

.logo-wrapper {
	padding: 100px inherit;
	display: inline-block;
}

.section {
	padding-top: 75px;
	padding-bottom: 75px;
}

.section-heading {
	font-size: 4em;
	margin: 30px 0;
}

.section-lead {
	margin: 30px 0;
}

.section-paragraph {
	margin: 30px 0;
}

footer {
	margin: 30px 0;
}

.modal-body {
	padding: 0px;
	height: 100%;
	overflow: visible
}

@media (max-width: 768px) {

.section-heading {
	font-size: 2em;
}

.section {
	padding-top: 25px;
	padding-bottom: 25px;
}


