!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Forumopolis Crossroads
    //
       Bootstrap core CSS 
    link(href='css/bootstrap.css', rel='stylesheet')
    //
       Custom CSS for the 'Full Width Pics' Template 
    link(href='css/full-width-pics.css', rel='stylesheet')
  body
    .full-width-image-1
      .logo-wrapper
        img.img-responsive(src='img/focross.png')
    //
       /full-width-image-1 
    .container
      .row
        .col-lg-12.section
          h1.section-heading Something’s got to give.
          p.lead.section-lead
            | Most of us can remember a time when Forumopolis' potential seemed a lot larger than its problems. When forum goers looked forward with certainty that their children would enjoy a better forum than they did. When gamers, cinephiles and even politicians came together to find solutions to almost anything that needed fixing.
          a.btn.btn-warning(href='#myModal', role='button', data-toggle='modal') Donate to Forumopolis Crossroads
          p.section-paragraph
            | If you ask people whether those are the times we’re living in now, most people will say no. They’ll say: we’re passing on to our kids a Forumopolis that is less prosperous, less secure and less free than the one we grew up in. We see an internet forum culture that creates more problems for us instead of fixing the ones we already have. We see moderators recklessly piling on and then insisting everything is fine.
    .full-width-image-2
      //
         box content goes here if you want to put text or a button in here 
    //
       /full-width-image-2 
    .container
      .row
        .col-lg-12.section
          h1.section-heading Our kids deserve better.
          p.lead.section-lead
            | So what do we at Forumopolis Crossroads do about it? We raise money from a whole lot of volunteer donors all across the country. And we spend it to promote people who have the courage, integrity and good ideas to get this forum back on track. The people we support believe that the best thing about Forumopolis is the talent, drive and creativity of its members – not the bureaucracy culture.
          a.btn.btn-warning(href='#myModal', role='button', data-toggle='modal') Donate to Forumopolis Crossroads
          p.section-paragraph
            | They are willing to stand up for niche groups, parody threads and even badly constructed polls against arrogant, power-grabbing posters and wealthy administrative cronies. But because they are on the front lines against such entrenched, self-serving interests (
            a(href='http://forumopolis.com/search.php?searchid=2680885') oreth
            | for Moderator?!?), they need a lot of support. That’s where Forumopolis Crossroads comes in – and where you come in. If you believe Forumopolis is at a Crossroads, and our forums still worth saving for our kids, please join us. Because Forumopolis' history isn’t finished being written.
    .full-width-image-2
      //
         box content goes here if you want to put text or a button in here 
    //
       /full-width-image-2 
    .container
      .row
        .col-lg-12.section
          h1.section-heading No one's going to do it for us.
          p.lead.section-lead
            | Please, consider donating today.
            strong Your
            | forums need you.
          p.section-paragraph
            a.btn.btn-warning(href='#myModal', role='button', data-toggle='modal') Donate to Forumopolis Crossroads
    //
       FOOTER 
    footer
      .container
        .row
          .col-lg-12
            | Copyright © Company 2013 · Facebook · Twitter · Google+
    //
       /END OF FOOTER 
    //
       /container 
    #myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-body
        p
          img(src='img/oreth4mod.png')
    //
       javascript 
    script(src='js/jquery.js')
    script(src='js/bootstrap.js')
    script(src='js/app.js')
